.nav a{
    color: black !important;
    font-size: 10em !important;
    }
.nav li{
    padding-right:5px;
   }
.navbar .container .navbar-brand {
       color: #373535 !important;
       font-size: 40px;
       margin: 8px 0;
   }
